/* Global Design Start */
#toastr-container>div {
    opacity: 0.95 !important;
}

table.ucms-table {
    /* border: 1px dashed #F1F1F4 !important; */
    border-collapse: collapse !important;
}

table.ucms-table th,
table.ucms-table td {
    /* border: 1px dashed #F1F1F4 !important; */
    text-align: center !important;
    vertical-align: middle !important;
}

/* Global Design End */